
$p-green-darker = hsla(168, 11%, 18%, 1.0)
$p-green-dark = hsla(168, 11%, 27%, 1.0)
$p-green = hsla(168, 20%, 32%, 1.0)
$p-green-light = hsla(168, 70%, 85%, 1.0)
$p-green-lighter = hsla(168, 70%, 90%, 1.0)
$p-green-bg = hsla(168, 70%, 95%, 1.0)

$c-pink-darker = hsla(348, 11%, 18%, 1.0)
$c-pink-dark = hsla(348, 11%, 27%, 1.0)
$c-pink = hsla(348, 20%, 32%, 1.0)
$c-pink-light = hsla(348, 70%, 85%, 1.0)
$c-pink-lighter = hsla(348, 70%, 90%, 1.0)

$sc-pink-darker = hsla(316, 11%, 18%, 1.0);
$sc-pink-dark = hsla(316, 11%, 27%, 1.0);
$sc-pink = hsla(316, 20%, 32%, 1.0);
$sc-pink-light = hsla(316, 70%, 85%, 1.0);
$sc-pink-lighter = hsla(316, 70%, 90%, 1.0);
$sc-pink-bg = hsla(316, 60%, 95%, 1.0);

$sc-orange-darker = hsla(16, 11%, 18%, 1.0);
$sc-orange-dark = hsla(16, 11%, 27%, 1.0);
$sc-orange = hsla(16, 20%, 32%, 1.0);
$sc-orange-light = hsla(16, 70%, 85%, 1.0);
$sc-orange-lighter = hsla(16, 70%, 90%, 1.0);
$sc-orange-bg = hsla(16, 60%, 95%, 1.0);

// Text Colors
$text-dark = hsl(0, 0%, 20%)
$text-light = hsl(0, 0%, 60%)

// Background Colors
$bg-light = hsla(0, 0%, 95%, 1.0)
$bg-light-trans = hsla(0, 0%, 94%, 0.4)
$bg-white = hsla(0, 0%, 100%, 1.0)

// Additional Utility Colors
$border-light = hsl(0, 0%, 95%)
$shadow-color = rgba(0, 0, 0, 0.1)
